* {
    box-sizing:border-box;
    transition:all 200ms;
    user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
}
::-webkit-scrollbar {
    height:20px;
    width:20px;
}
::-webkit-scrollbar-corner {
    background-color:transparent;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color:#666;
    border:5px solid #000;
    border-radius: 10px;
}
html {
    height:100%;
}
body {
    background-color:#000;
    height:100%;
    margin:0;
    transition:all 2000ms;
}
body.gameover {
    background-color:#c00;
}
body.gameover .bubble,
body.victory .bubble,
body.gameover #hardness .bubble,
body.victory #hardness .bubble {
    color:#fff;
}
body.gameover .cell,
body.victory .cell {
    background-color:transparent !important;
    border-color:#000 !important;
    color:#000 !important;
    cursor:default;
}
body.gameover .cell.bomb {
    background-color:#000 !important;
    color:#c00 !important;
}
body.gameover .cell.flagged,
body.victory .cell.flagged {
    background-color:transparent;
    border-color:#ff0 !important;
    color:#ff0 !important;
}
body.gameover .cell.flagged::before,
body.victory .cell.flagged::before {
    opacity:0;
}
body.gameover .cell.zero,
body.victory .cell.zero {
    opacity:0;
}
body.victory {
    background-color:#0c0;
}
#settings {
    padding-top:60px;
}
#sidebar {
    flex-shrink:0;
    margin-right:50px;
}
#main {
    overflow:hidden;
}
#view {
    border-radius:25px;
    max-height:100%;
    overflow:scroll;
    padding-bottom:10px;
    padding-right:10px;
}
#wrapper {
    display:flex;
    height:100%;
    padding:50px;
}
#wrapper.mobile {
    padding:10px;
}
#wrapper.mobile #main {
    margin:0 auto;
}
#wrapper.mobile #sidebar {
    display:none;
}
#wrapper.mobile #sidebar.active {
    display:block;
}
.board {
    color:#fff;
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
}
.bubble {
    align-items:center;
    border:3px solid #fff;
    border-radius:50%;
    display:flex;
    font-family:"Roboto Mono", monospace;
    height:50px;
    justify-content:center;
    margin:5px;
    text-align:center;
    transition:all 200ms;
    width:50px;
}
button .bubble {
    border-color:transparent;
    color:#666;
}
.bubble:first-child {
    border-color:#fff;
    color:#fff;
}
button.bubble {
    background-color:transparent;
    border-color:#ff0;
    color:#ff0;
    cursor:pointer;
    display:flex;
    font-size:1.5em;
    outline:none;
    padding:0;
    transition:all 200ms;
}
button.bubble:hover {
    border-color:#0ff !important;
    color:#0ff;
}
button.bubbles {
    border:none;
    cursor:pointer;
    outline:none;
    padding:0;
}
button.bubbles.glimmer .bubble {
    color:#ff0;
}
button.bubbles.glimmer .bubble:first-child {
    border-color:#ff0;
}
button.bubbles:hover .bubble {
    border-color:#ff0;
    color:#ff0;
}
button.bubbles:hover .bubble:first-child {
    border-color:#ff0;
}
.bubbles {
    background-color:transparent;
    color:#fff;
    display:flex;
    font-family:"Roboto Mono", monospace;
    font-size:1.5em;
    text-transform:uppercase;
    transition:all 200ms;
}
.cell {
    align-items:center;
    background-color:#666;
    border:3px solid #999;
    border-radius:50%;
    color:transparent;
    cursor:pointer;
    display:flex;
    font-family:"Roboto Mono", monospace;
    font-size:1.5em;
    justify-content:center;
    position:relative;
    transition:all 200ms;
}
.cell::before {
    background-color:transparent;
}
.cell:hover {
    background-color:#999;
    border-color:#fff;
}
.cell.active {
    background-color:transparent !important;
    border-color:#333;
}
.cell.active:hover {
    border-color:#666;
}
.cell.active.bomb {
    background-color:#c00;
    color:#fff;
}
.cell.active.eight {
    color:#fff;
}
.cell.active.five {
    color:#f3f;
}
.cell.active.four {
    color:#63f;
}
.cell.active.one {
    color:#06f;
}
.cell.active.three {
    color:#f33;
}
.cell.active.seven {
    color:#f93;
}
.cell.active.six {
    color:#3ff;
}
.cell.active.two {
    color:#0f0;
}
.cell.active.zero {
    border-color:transparent;
    color:transparent;
}
.cell.active.zero:hover {
    background-color:transparent;
}
.cell.flagged {
    background-color:#333 !important;
    border-color:#ff0;
    position:relative;
}
.cell.flagged:hover {
    background-color:#111;
}
.cell.flagged::before {
    border-top:15px solid #ff0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    content:"";
    display:block;
    position: absolute;
    top:calc(50% - 7.5px);
}
.cell.glimmer {
    background-color:#999;
    border-color:#fff;
}
.cell.no,
.cell.active.no {
    border-color:#f00;
}
.flags,
.timer {
    color:#fff;
    display:flex;
    font-family:"Roboto Mono", monospace;
    font-size:1.5em;
}
.flags {
    color:#ff0;
}
.flags .icon {
    position:relative;
}
.flags .icon::before {
    border-top:15px solid #ff0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    content:"";
    display:block;
    position: absolute;
    top:calc(50% - 7.5px);
}
.hud {
    display:flex;
    justify-content:space-between;
    padding-bottom:60px;
    padding-right:30px;
}
.hud .bubbles {
    display:none;
}
.mobile .hud .bubbles {
    display:flex;
}
.mobile .hud .row:nth-child(2) {
    align-items:flex-end;
    display:flex;
    flex-direction:column;
}
.icon,
.num {
    align-items:center;
    border:3px solid;
    border-radius:50%;
    display:flex;
    height:50px;
    justify-content:center;
    margin:5px;
    text-align:center;
    width:50px;
}
.logo {
    display:flex;
    font-family:"Roboto Mono", monospace;
    font-size:1.5em;
    padding-bottom:60px;
    text-transform:uppercase;
    transition:all 200ms;
}
.logo .bubble {
    border-color:#ff0;
    color:#ff0;
}
.logo .bubble:first-child {
    border-color:#fff;
    color:#fff;
}
.minus {
    margin-left:65px;
}

#hardness .bubble:first-child {
    border-color:transparent;
    color:#666;
}
#hardness:hover .bubble {
    border-color:transparent;
    color:#fff;
}
#hardness.l1 .bubble:first-child {
    border-color:#080;
    color:#080;
}
#hardness.l2 .bubble:nth-child(2) {
    border-color:#0f0;
    color:#0f0;
}
#hardness.l3 .bubble:nth-child(3) {
    border-color:#8f0;
    color:#8f0;
}
#hardness.l4 .bubble:nth-child(4) {
    border-color:#ff0;
    color:#ff0;
}
#hardness.l5 .bubble:nth-child(5) {
    border-color:#f80;
    color:#f80;
}
#hardness.l6 .bubble:nth-child(6) {
    border-color:#f40;
    color:#f40;
}
#hardness.l7 .bubble:nth-child(7) {
    border-color:#f00;
    color:#f00;
}
#hardness.l8 .bubble:nth-child(8) {
    border-color:#800;
    color:#800;
}



.rightclick {
    background-color:purple;
}
.leftclick {
    background-color:green;
}

.cell::after {
    border-radius:50%;
    content:"";
    display:block;
    height:10%;
    left:45%;
    position:absolute;
    top:45%;
    transition:all 500ms;
    width:10%;
}
.cell.touch::after {
    background-color:#ff0;
    height:100%;
    left:0;
    top:0;
    width:100%;
}
.cell.touch {
    border-color:#ff0;
}
.cell.zero.touch {
    background:none;
}
.cell.active::after,
.cell.zero::after {
    display:none;
}